{% extends "layout.html" %}

{% block content %}
    <h2>Escriba su nueva contraseña</h2>
    {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cambiar contraseña</button>
        </form>
    {% else %}
        <p style="color: red">Token Invalido</p>
        <p>
            <a href="{% url 'password_reset' %}">Requerir un nuevo cambio de contraseña</a>
        </p>
    {% endif %}
    
  
{% endblock content %}