{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>

<body>
    
    
    <div class="site-container" >
        <nav>
            <a href="{% url 'home' %}">Laboratorio de software CUA</a>
            <a href="{% url 'course_list' %}">Cursos</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar sesión</a>
                <!--<a href="{% url 'password_change' %}">Cambio de contraseña</a>-->
            {% else %}
                <a href="{% url 'signup' %}">Registrate</a>
                <a href="{% url 'login'%}">Iniciar Sesión</a>
            {% endif %}
        </nav>
        {% block content %}{%   endblock %}
    </div>

 
</body>


</html>